@{

}

<style>
    section {
        text-align: center;
    }

    .px-3 h1 {
        color: whitesmoke;
    }

    .px-3 p {
        color: whitesmoke;
    }
</style>

<section>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>感謝你的購買</h1>
            <p class="lead">付款資訊，之類的</p>
            <p class="lead">
                <a href="" class="btn btn-lg btn-primary fw-bold border-2 bg-black">確定</a>             
            </p>
        </main>
    </div>
</section>

