@{
    string Seat = "NA@NA@NA@NA@1:4@1:5@1:6@1:7@1:8@1:9@NA@1:10@NA@NA@NA@NA@1:15@NA@NA@NA@||@NA@NA@NA@NA@2:4@2:5@2:6@2:7@2:8@2:9@NA@2:10@NA@NA@NA@NA@2:15@NA@NA@NA@||@NA@NA@NA@NA@3:4@3:5@3:6@3:7@3:8@3:9@NA@3:10@3:11@3:12@3:13@3:14@3:15@NA@NA@NA@||@4:1@4:2@4:3@NA@4:4@4:5@4:6@4:7@4:8@4:9@NA@4:10@4:11@4:12@4:13@4:14@4:15@NA@4:16@4:17@||@5:1@5:2@5:3@NA@5:4@5:5@5:6@5:7@5:8@5:9@NA@5:10@5:11@5:12@5:13@5:14@5:15@NA@5:16@5:17@||@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@||@6:1@6:2@6:3@NA@6:4@6:5@6:6@6:7@6:8@6:9@NA@6:10@6:11@6:12@6:13@6:14@6:15@NA@6:16@6:17@||@7:1@7:2@7:3@NA@7:4@7:5@7:6@7:7@7:8@7:9@NA@7:10@7:11@7:12@7:13@7:14@7:15@NA@7:16@7:17@||@8:1@8:2@8:3@NA@8:4@8:5@8:6@8:7@8:8@8:9@NA@8:10@8:11@8:12@8:13@8:14@8:15@NA@8:16@8:17@||@9:1@9:2@9:3@NA@9:4@9:5@9:6@9:7@9:8@9:9@NA@9:10@9:11@9:12@9:13@9:14@9:15@NA@9:16@9:17@||@10:1@10:2@10:3@NA@10:4@10:5@10:6@10:7@10:8@10:9@NA@10:10@10:11@10:12@10:13@10:14@10:15@NA@10:16@10:17@||@11:1@11:2@11:3@NA@11:4@11:5@11:6@11:7@11:8@11:9@NA@11:10@11:11@11:12@11:13@11:14@11:15@NA@11:16@11:17@||@12:1@12:2@12:3@NA@12:4@12:5@12:6@12:7@12:8@12:9@NA@12:10@12:11@12:12@12:13@12:14@12:15@NA@12:16@12:17@||@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@||@13:1@13:2@13:3@NA@13:4@13:5@13:6@13:7@13:8@13:9@NA@13:10@13:11@13:12@13:13@13:14@13:15@NA@13:16@13:17@||@14:1@14:2@14:3@NA@14:4@14:5@NA@NA@14:8@14:9@NA@14:10@14:11@14:12@14:13@14:14@14:15@NA@14:16@14:17@||@NA@15:2@15:3@NA@15:4@15:5@NA@NA@15:8@15:9@NA@15:10@15:11@15:12@15:13@15:14@15:15@NA@15:16@15:17@||@NA@NA@NA@NA@16:4@16:5@16:6@16:7@16:8@16:9@NA@16:10@16:11@16:12@16:13@16:14@16:15@NA@16:16@16:17@||@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@NA@||@NA@NA@NA@NA@17:4@17:5@17:6@17:7@17:8@17:9@NA@17:10@17:11@17:12@17:13@17:14@17:15@NA@NA@NA@||@NA@NA@NA@NA@18:4@18:5@18:6@18:7@18:8@18:9@NA@18:10@18:11@18:12@18:13@18:14@18:15@NA@NA@NA@||@NA@NA@NA@NA@19:4@19:5@19:6@19:7@19:8@19:9@NA@19:10@19:11@19:12@19:13@19:14@19:15@NA@NA@NA@||@";
    string[] SeatArrs = Seat.Split('@');
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<title>Cyborg - Awesome HTML5 Template</title>

<!-- Bootstrap core CSS -->
<link href="~/css/bootstrap.min.css" rel="stylesheet" />


<!-- Additional CSS Files -->
<link rel="stylesheet" href="~/cyborg/css/fontawesome.css">
<link rel="stylesheet" href="~/cyborg/css/templatemo-cyborg-gaming.css">
<link rel="stylesheet" href="~/cyborg/css/owl.css">
<link rel="stylesheet" href="~/cyborg/css/animate.css">
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<style>
    section {
        margin-top: 25px
    }

    html {
        background-color: #070720;
    }

    body {
        background-color: #070720;
    }

    .body-content {
        background-color: #070720;
    }

    .movieInfo-library {
        margin-top: 10px;
        padding: 10px;
        background-color: #1f2122;
        border-radius: 23px;
    }

    .main-button {
        padding: 50px;
    }

    .row {
        text-align: center;
    }

    .seatSample {
        margin: auto;
        text-align: center;
    }

        .seatSample .sampleName {
            height: 15px;
            color: rgb(120, 120, 120);
            font-size: 0.875rem;
            display: inline-block;
        }

        .seatSample .screen {
            width: 300px;
            color: rgb(142, 142, 142);
            border: 1px solid rgb(142, 142, 142);
            font-size: 0.75rem;
            height: 26px;
            line-height: 26px;
            margin: 0px auto 30px;
        }

    .seatrow .dot {
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        margin: 0.2vw;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
    }

    .seatrow div {
        display: block;
    }

    .seatrow .green {
    }

    .seatrow .none {
        background-color: transparent;
    }

    .seatrow .saled {
        background-color: rgb(100, 100, 100);
    }

    .seatMap {
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    .seatrow .selected {
        background-color: rgb(231, 0, 140);
    }


    .movieInfo-library {
        margin-top: 60px;
        padding: 30px;
        background-color: #070720;
        border-radius: 23px;
    }

        .movieInfo-library .item {
            border-bottom: 1px solid #27292a;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }


            .movieInfo-library .item ul li {
                margin-top: 15px;
            }

                .movieInfo-library .item ul li img {
                    margin-top: -30px;
                }

            .movieInfo-library .item ul li {
                display: inline-block;
                width: 16%;
            }

                .movieInfo-library .item ul li h4 {
                    font-size: 20px;
                    margin-bottom: 5px;
                    color: whitesmoke;
                    font-family: sans-serif;
                }

                .movieInfo-library .item ul li span {
                    color: #666;
                    font-size: 16px;
                    color: whitesmoke;
                    font-family: sans-serif;
                }
</style>

<section>
    <div class="movieInfo-library">
        <div class="col-lg-12">
            <div class="item">
                <ul>
                    <li><h4>片名</h4><span>電影名</span></li>
                    <li><h4>影城</h4><span>影城名</span></li>
                    <li><h4>日期</h4><span>10.30</span></li>
                    <li><h4>版本</h4><span>數位</span></li>
                    <li><h4>時間</h4><span>10:30</span></li>
                    <li><h4>人數</h4><span>3</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="seatSample">
            <div class="seatrow">
                <div class="dot selected"></div><div class="sampleName">您的座位</div>
                <div class="dot green"></div><div class="sampleName">未售出</div>
                <div class="dot saled"></div><div class="sampleName">已售出</div>
                <div class="screen">銀幕</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="seatMap">
            @{
                @:<div>
                    @:<div class="seatrow">
                        foreach (string seat in SeatArrs)
                        {
                            if (seat.Contains("NA"))
                            {
                                @:<div class="dot none"></div>
                            }
                            else if (seat.Contains("||"))
                            {
                            @:</div></div><div>
                                @:<div class="seatrow">
                                }
                                else if (seat != "")
                                {
                                    @:<div class="dot green" data="@seat"></div>
                                }
                            }
                        @:</div></div>
            }

            <div class="main-button">
                <a asp-area="" asp-controller="Ticketing" asp-action="PaymentWeb">前往付款</a>
            </div>
        </div>
    </div>


</section>
<script>
    var dots = document.getElementsByClassName("dot green");

    for (let item of dots) {
        item.addEventListener("click", seat);
    }

    function seat(e) {
        if (e.target.className == "dot green")
            e.target.className = e.target.className.replace("dot green", "dot selected");
        else if (e.target.className == "dot selected")
            e.target.className = e.target.className.replace("dot selected", "dot green");
    }
</script>

