@model ClientMDA.ViewModels.CMemberDemoViewModel

@{
    ViewData["Title"] = "MemberEdit";
}

<head>
    <link href="~/css/Member/MemberMain.css" rel="stylesheet" />
    <style>
        .control-label {
            color: white;
        }

        .white {
            color: white;
            text-align: center
        }

        .content {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="member_id">
        <span class="member_hello">HELLO!</span>
        <span class="member_id_name"></span>
    </div>

    <div class="row">
        <div class="member_menu">
            <a id="watchlist" href="../Member/WatchList" title="我的片單" class="member_link">我的片單</a>
            <a id="commentList" href="../Member/CommentList" title="我的評論" class="member_link">我的評論</a>
            @*<a id="wishlist" href="../Member/wishlist" title="收藏清單" class="member_link">收藏清單</a>*@

            <a id="orderlist" href="../Member/orderlist" title="訂單查詢" class="member_link">訂單查詢</a>
            <a id="memberbonuslist" href="../Member/memberbonuslist" title="我的紅利金" class="member_link">我的紅利金</a>
            <a id="memberdiscount" href="../Member/memberdiscount" title="我的抵用券" class="member_link">我的抵用券</a>

            <a id="memberpassword" href="../Member/PasswordEdit" title="密碼修改" class="member_link">密碼修改</a>
            <a id="MemberEdit" href="../Member/MemberEdit" title="資料修改" class="member_link ">資料修改</a>
            <a href="../Member/logout" class="member_link" title="登出">登出</a>
        </div>
        <div class="member_main">
            <div class="member_area">
                <!--content-->
                <h2 class="white">會員資訊</h2>

                <h4 class="white">基本資訊修改</h4>
                <hr />
                <div class="col-md-4 content">
                    <form asp-action="MemberEdit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NickName" class="control-label">暱稱</label>
                            <input asp-for="NickName" class="form-control" placeholder="Yuka" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Cellphone" class="control-label">手機</label>
                            <input asp-for="Cellphone" class="form-control" placeholder="0901001001" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">電子郵件</label>
                            <input asp-for="Email" class="form-control" placeholder="001@gmail.com" />
                        </div>
                        <div class="form-group">
                            <label asp-for="L_Name" class="control-label">姓</label>
                            <input asp-for="L_Name" class="form-control" placeholder="Wang" />
                            <label asp-for="F_Name" class="control-label">名</label>
                            <input asp-for="F_Name" class="form-control" placeholder="Wei" />
                        </div>


                        <div class="form-group">
                            <label asp-for="Address" class="control-label">地址</label>
                            <input asp-for="Address" class="form-control" placeholder="台北市" />
                        </div>
                        <div class="form-group">
                            <label asp-for="BirthDate" class="control-label">生日</label>
                            <input type="date" class="form-control" value="1990-01-01" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label">性別</label>
                            <select>
                                <option value="0">男</option>
                                <option value="1" selected>女</option>
                                <option value="2">多元性別</option>
                                <option value="3">不公開</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Bonus" class="control-label">紅利</label>
                            <input asp-for="Bonus" class="form-control" placeholder="100" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Formal" class="control-label">會員狀態</label>
                            <div>
                                <input type="checkbox" class="" name="formal" value="true" checked disabled />
                                <label style="color:lightgray">正式會員</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Permission" class="control-label">會員權限</label>
                            <input asp-for="Permission" class="form-control" placeholder="正常使用" disabled />
                            <span asp-validation-for="Permission" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="儲存變更" class="site-btn" />
                            <input type="submit" value="取消" class="site-btn" style="background-color:#6c757d" />
                        </div>
                        <div>
                        </div>
                    </form>
                </div>
                <!--end content-->
            </div>
        </div>
    </div>

</body>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

