
@{
    ViewData["Title"] = "WatchList";
}

<head>
    <link href="~/css/Member/WatchList.css" rel="stylesheet" />
    <link href="~/css/Member/MemberMain.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="~/css/Member/modal.css" rel="stylesheet" />
    <style>
        .content {
            width: 80%;
            margin: 0 auto;
        }

        .member_area {
            color: white;
        }

        .white {
            color: white;
            text-align: center
        }

        .btn-cancel {
            background-color: #6c757d;
        }
    </style>
</head>

<body class="white">
    <div class="member_id">
        <span class="member_hello">HELLO!</span>
        <span class="member_id_name"></span>
    </div>
    <div class="row">
        <div class="member_menu">
            <a id="watchlist" href="../Member/WatchList" title="我的片單" class="member_link">我的片單</a>
            <a id="commentList" href="../Member/CommentList" title="我的評論" class="member_link">我的評論</a>
            @*<a id="wishlist" href="../Member/wishlist" title="收藏清單" class="member_link">收藏清單</a>*@

            <a id="orderlist" href="../Member/orderlist" title="訂單查詢" class="member_link">訂單查詢</a>
            <a id="memberbonuslist" href="../Member/memberbonuslist" title="我的紅利金" class="member_link">我的紅利金</a>
            <a id="memberdiscount" href="../Member/memberdiscount" title="我的抵用券" class="member_link">我的抵用券</a>

            <a id="memberpassword" href="../Member/PasswordEdit" title="密碼修改" class="member_link">密碼修改</a>
            <a id="MemberEdit" href="../Member/MemberEdit" title="資料修改" class="member_link ">資料修改</a>
            <a href="../Member/logout" class="member_link" title="登出">登出</a>
        </div>
        <div class="member_main" style="color:white">
            <div class="member_area ">
                <!--content-->
                <h2>
                    我的片單
                    <button id="buttonAdd" class="btn btn-link add" data-modal-target="#modal">
                        <i class="fas fa-plus-square"></i>
                    </button>
                </h2>
                <div class="content">
                    <div class="card-title">
                        <p>
                            MyWatchList-哈利波特
                            <button id="buttonEdit" class="btn btn-link btn-sm edit" data-modal-target="#editModal">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </p>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide"
                                 style="background-image: url('https://m.media-amazon.com/images/M/MV5BMzkyZGFlOWQtZjFlMi00N2YwLWE2OWQtYTgxY2NkNmM1NjMwXkEyXkFqcGdeQXVyNjY1NTM1MzA@@._V1_FMjpg_UX1000_.jpg')">
                                @*<div class="movie-list">
                                        <div class="movie-tag BottomArea">
                                            <span class="rating">4.5</span>
                                        </div>
                                    </div>*@
                                <a href="/vod/3795">
                                    <p class="movie-card">哈利波特：神秘的魔法石</p>
                                </a>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url('https://m.media-amazon.com/images/M/MV5BMjE0YjUzNDUtMjc5OS00MTU3LTgxMmUtODhkOThkMzdjNWI4XkEyXkFqcGdeQXVyMTA3MzQ4MTc0._V1_FMjpg_UX834_.jpg')">
                                @*<div class="movie-list">
                                        <div class="movie-tag BottomArea">
                                            <span class="rating">4.8</span>
                                        </div>
                                    </div>*@
                                <a href="/vod/3795">
                                    <p class="movie-card">哈利波特：消失的密室</p>
                                </a>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url('https://www.miranewcinemas.com/miramarimaxauro/imax/images/upload/movie/201312121120071.jpg') ">
                                @*<div class="movie-list">
                                        <div class="movie-tag BottomArea">
                                            <span class="rating">4.2</span>
                                        </div>
                                    </div>*@
                                <a href="/vod/3795">
                                    <p class="movie-card">哈利波特：火盃的考驗</p>
                                </a>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url('https://m.media-amazon.com/images/M/MV5BMTM0NTczMTUzOV5BMl5BanBnXkFtZTYwMzIxNTg3._V1_FMjpg_UX450_.jpg')">
                                @*<div class="movie-list">
                                        <div class="movie-tag BottomArea">
                                            <span class="rating">4.7</span>
                                        </div>
                                    </div>*@
                                <a href="/vod/3795">
                                    <p class="movie-card">哈利波特：鳳凰會的密令</p>
                                </a>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url('https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@@._V1_.jpg')">
                                @*<div class="movie-list">
                                        <div class="movie-tag BottomArea">
                                            <span class="rating">4.5</span>
                                        </div>
                                    </div>*@
                                <a href="/vod/3795">
                                    <p class="movie-card">哈利波特：死神的聖物2</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                    <div class="card-title">
                        <p>
                            周末片單
                            <button id="buttonEdit" class="btn btn-link btn-sm edit" data-modal-target="#editModal">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </p>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide"
                                 style="background-image: url('https://www.sonypictures.com/sites/default/files/styles/max_560x840/public/title-key-art/bullettrain_onesheet_1400x2100_v4.jpg?itok=khOUNLFM') ">
                                @*<div class="movie-list">
                                        <div class="movie-tag BottomArea">
                                            <span class="rating">4.5</span>
                                        </div>
                                    </div>*@
                                <a href="/vod/3795">
                                    <p class="movie-card">子彈列車</p>
                                </a>
                            </div>
                            <a href="~/comment/電影評論">
                                <div class="swiper-slide"
                                     style="background-image: url('https://m.media-amazon.com/images/M/MV5BZWYzOGEwNTgtNWU3NS00ZTQ0LWJkODUtMmVhMjIwMjA1ZmQwXkEyXkFqcGdeQXVyMjkwOTAyMDU@@._V1_.jpg') ">
                                    @*<div class="movie-list">
                                            <div class="movie-tag BottomArea">
                                                <span class="rating">4.5</span>
                                            </div>
                                        </div>*@

                                    <p class="movie-card">捍衛戰士：獨行俠</p>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                    <div class="card-title">
                        <p>
                            魔戒
                            <button id="buttonEdit" class="btn btn-link btn-sm edit" data-modal-target="#editModal">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </p>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide"
                                 style="background-image: url('https://upload.wikimedia.org/wikipedia/zh/7/74/LOTRFOTRmovie.jpg')">
                                @*<div class="movie-list">
                                        <div class="movie-tag BottomArea">
                                            <span class="rating">4.8</span>
                                        </div>
                                    </div>*@
                                <a href="/vod/3795">
                                    <p class="movie-card">魔戒首部曲：魔戒現身</p>
                                </a>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url('https://upload.wikimedia.org/wikipedia/zh/2/2a/LOTRTTTmovie.jpg')">
                                @*<div class="movie-list">
                                        <div class="movie-tag BottomArea">
                                            <span class="rating">4.2</span>
                                        </div>
                                    </div>*@
                                <a href="/vod/3795">
                                    <p class="movie-card">魔戒二部曲：雙城奇謀</p>
                                </a>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url('https://upload.wikimedia.org/wikipedia/zh/e/e3/The_Lord_of_the_Rings_-_The_Return_of_the_King_poster.jpg')">
                                @*<div class="movie-list">
                                        <div class="movie-tag BottomArea">
                                            <span class="rating">4.7</span>
                                        </div>
                                    </div>*@
                                <a href="/vod/3795">
                                    <p class="movie-card">魔戒三部曲：王者再臨</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <!--end content-->
                </div>
            </div>
        </div>
    </div>


    <script>
        const add = document.querySelector("#buttonAdd")
        function showModal1(titleHtml, contentHtml, buttons) {
            const modal = document.createElement("div");

            modal.classList.add("modal");
            modal.innerHTML = `
            <div class="modal__inner">
                <div class="modal__top">
                    <div class="modal__title">${titleHtml}</div>
                    <button class="modal__close" type="button">
                        <span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </button>
                </div>
                <div class="modal__content">${contentHtml}</div>
                <div class="modal__bottom"></div>
            </div>
        `;

            for (const button of buttons) {
                const element = document.createElement("button");
                element.setAttribute("type", "button");
                element.classList.add("modal__button");
                if (button.triggerClose) {
                    element.classList.add("btn-secondary");
                }
                else { element.classList.add("site-btn"); }
                element.textContent = button.label;
                element.addEventListener("click", () => {
                    if (button.triggerClose) {
                        document.body.removeChild(modal);
                    }
                });
                modal.querySelector(".modal__bottom").appendChild(element);
            }

            modal.querySelector(".modal__close").addEventListener("click", () => {
                document.body.removeChild(modal);
            });

            document.body.appendChild(modal);
        }

        const cont1 = `
                <input type="hidden" name="WatchListID" id="WatchListID">
                            <div class="form-group">
                                <label for="WatchListName" style="color:black">我的所有片單</label>
                            </div>
                            <table id="WatchList" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>序</th>
                                        <th>片單</th>
                                        <th>移除</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <input type="text" class="form-control" id="WatchListName" name="WatchListName" value="MyWatchList-哈利波特">
                                        </td>
                                        <td><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <input type="text" class="form-control" id="WatchListName" name="WatchListName" value="周末片單">
                                        </td>
                                        <td><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <input type="text" class="form-control" id="WatchListName" name="WatchListName" value="魔戒">
                                        </td>
                                        <td><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="text" class="form-control" id="WatchListName" name="WatchListName"
                                   placeholder="我的片單">
                            <button type="button" id="buttonAdd" class="site-btn btn-sm mt-3">
                                <i class="fa fa-plus">新增</i>
                            </button>
            `

        add.addEventListener('click', () => {
            showModal1("修改我的片單", cont1, [
                {
                    label: "取消",
                    triggerClose: true
                },
                {
                    label: "確認修改",
                    triggerClose: false
                }
            ])
        })
    </script>

    <script>
        const edits = document.querySelectorAll(".edit")
        function showModal2(titleHtml, contentHtml, buttons) {
            const modal = document.createElement("div");
            modal.classList.add("modal");
            modal.classList.add("editModal");
            modal.innerHTML = `
            <div class="modal__inner">
                <div class="modal__top">
                    <div class="modal__title">${titleHtml}</div>
                    <button class="modal__close" type="button">
                        <span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </button>
                </div>
                <div class="modal__content">${contentHtml}</div>
                <div class="modal__bottom"></div>
            </div>
        `;

            for (const button of buttons) {
                const element = document.createElement("button");
                element.setAttribute("type", "button");

                if (button.triggerClose) {
                    element.classList.add("btn-secondary");
                }
                else { element.classList.add("site-btn"); }
                element.classList.add("modal__button");
                element.textContent = button.label;
                element.addEventListener("click", () => {
                    if (button.triggerClose) {
                        document.body.removeChild(modal);
                    }
                });
                modal.querySelector(".modal__bottom").appendChild(element);
            }
            modal.querySelector(".modal__close").addEventListener("click", () => {
                document.body.removeChild(modal);
            });
            document.body.appendChild(modal);
        }

        const cont2 = `
                <form id = "editForm">
                    <input type="hidden" name="WatchListID" id="WatchListID">
                        <div class="form-group">
                            <label for="WatchListName" style="color:black">片單名稱</label>
                            <input type="text" class="form-control" id="WatchListName" name="WatchListName"
                                value="周末片單">
                            </div>
                            <table id="WatchList" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>序</th>
                                        <th>片名</th>
                                        <th>移除</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>子彈列車</td>
                                        <td><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>捍衛戰士：獨行俠</td>
                                        <td><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="text" class="form-control" id="WatchListName" name="WatchListName"
                                placeholder="搜尋">
                                <button type="button" id="buttonAdd" class="site-btn btn-sm mt-3">
                                    <i class="fa fa-plus">新增</i>
                                </button>
                        </form>
            `

        edits.forEach(btn => btn.addEventListener('click', () => {
            showModal2("修改我的片單", cont2, [
                {
                    label: "取消",
                    triggerClose: true
                },
                {
                    label: "確定修改",
                    triggerClose: false
                }
            ])
        }))
    </script>
</body>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>