@section Styles{ 
    <style>
        .anime__details__form{
/*            width: 100%;*/
        }

        .txtarea {
            /*width: 100%;*//*評論寬度*/
        }
        .mem_rate{
            float:right;
        }
        .see-more {
            float: right;
        }
    </style>
}


<body>
    <!-- Page Preloder -->
    <div id="preloder" style="display: none;">
        <div class="loader" style="display: none;"></div>
    </div>

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        @*電影海報*@
                        <div class="anime__details__pic set-bg" data-setbg="img/anime/details-pic.jpg" style="background-image: url('https://m.media-amazon.com/images/M/MV5BNTZlYTE1MDktOGRkOC00NjIwLWIyY2MtYjQxMDZlMDlmYmRkXkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_FMjpg_UX691_.jpg');">
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        @*電影資訊*@
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>捍衛戰士：獨行俠</h3>
                                <span>Top Gun: Maverick</span>
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <span>1.029則 評分</span>
                            </div>
                            <p>
                                派拉蒙影業1986年推出的《捍衛戰士》，由湯姆克魯斯主演，是一齣以航空母艦與美國海軍戰鬥機武器學校為背景的勵志動作電影，在當年締造了全球3億5千6百多萬美元的票房成績。睽違33年之後，派拉蒙影業將在2020年6月26日暑假檔期推出美國軍事動作鉅片《捍衛戰士：獨行俠》。
                            </p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>系列電影:</span> 無</li>
                                            <li><span>上映年份:</span> 2022</li>
                                            <li><span>上映日期:</span> 2022-05-25</li>
                                            <li><span>導　　演:</span> 喬瑟夫柯辛斯基</li>
                                            <li><span>演　　員:</span> 湯姆克魯斯(Tom Cruise), 喬漢姆(Jon Hamm), 珍妮佛康納莉(Jennifer Connelly)</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>電影分級:</span> 保護級</li>
                                            <li><span>電影產地:</span> 美國</li>
                                            <li>
                                                <span>片　　長:</span> 131分鐘
                                            </li>
                                            <li><span>片　　種:</span> 動作, 劇情</li>
                                            <li><span>票　　房:</span> 14.77億美元</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> 加入片單</a>
                                <a asp-area="" asp-controller="Theater" asp-action="捍衛戰士2" class="watch-btn" style="color:#9e9e9e"><span>訂票去</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    @*電影評論*@
                    <div class="anime__details__review">
                        <div class="section-title">
                            <h5>電影評論</h5>
                        </div>
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img src="~/images/Comment/mem01.png" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>
                                    <a asp-area="" asp-controller="Comment" asp-action="我的評論">會員 Rainbow -</a><span>2022-10-06 13:52</span>
                                        <span class="mem_rate">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
</h6>
                                <p>評論內容 這是年度最好看的電影，沒有之一，絕對值回票價!</p>
                                <a asp-controller="Comment" asp-action="會員評論"><span class="see-more">詳全文 >></span></a>
                            </div>
                        </div>
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img src="~/images/Comment/mem02.png" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>
                                    會員 已蒸 - <span>評論時間 2022-10-02 15:48</span>
                                    <span class="mem_rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </span>
                                </h6>
                                <p>誇張的好看～整部片完全沒有冷場～🈶️哭🈶️笑 阿湯哥真的帥❤️看完還會想看第二遍</p>
                                <a asp-controller="Comment" asp-action="評論"><span class="see-more">詳全文 >></span></a>
                            </div>
                        </div>
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img src="~/images/Comment/mem03.png" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>
                                    會員 婷婷 - <span>評論時間 2022-08-13 18:32</span>
                                    <span class="mem_rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </h6>
                                <p>電影院有上1+2 重新致敬經典了一次，再接著看2有夠爽！ 電影時間看起來很長但一下就過去了 因為真的太精彩太緊張！超棒！</p>
                                <a asp-controller="Comment" asp-action="評論"><span class="see-more">詳全文 >></span></a>
                            </div>
                        </div>
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img src="~/images/Comment/mem04.png" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>
                                    會員 披薩HOT - <span>評論時間 2022-06-26 13:52</span>
                                    <span class="mem_rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </span>
                                </h6>
                                <p>太精彩了！根本不像二個小時的電影，完全不會有倦怠感，時間一下就過了</p>
                                <a asp-controller="Comment" asp-action="評論"><span class="see-more">詳全文 >></span></a>
                            </div>
                        </div>
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img src="~/images/Comment/mem05.png" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>
                                    會員 Lewis Mann - <span>評論時間 2022-05-25 23:07</span>
                                    <span class="mem_rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </span>
                                </h6>
                                <p>為什麼會有這麼好看的電影!我只能說，細膩程度已經不像電影了！ 阿湯哥從影這麼久！還能達到人生顛峰～真的不簡單！ 當然導演編劇等團隊，真的很不簡單！</p>
                                <a asp-controller="Comment" asp-action="評論"><span class="see-more">詳全文 >></span></a>
                            </div>
                        </div>
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img src="~/images/Comment/mem06.png" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>
                                    會員 軒兒 - <span>評論時間 2022-05-25 20:27</span>
                                    <span class="mem_rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </h6>
                                <p>所謂的「致敬歷史」裡面一定少不了感動 你曾參與過的故事才稱得上是歷史 🛩Top Gun : Maverick✈️</p>
                                <a asp-controller="Comment" asp-action="評論"><span class="see-more">詳全文 >></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="anime__details__form">
                        <div class="section-title">
                            <h5>你的評論</h5>
                        </div>
                        <form action="#">
                            <textarea placeholder="Your Comment" class="txtarea"></textarea><br />
                            <button type="submit"><i class="fa fa-location-arrow"></i>送出</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="anime__details__sidebar">
                        <div class="section-title">
                            <h5>you might like...</h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-1.jpg" style="background-image: url(&quot;img/sidebar/tv-1.jpg&quot;);">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Boruto: Naruto next generations</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-2.jpg" style="background-image: url(&quot;img/sidebar/tv-2.jpg&quot;);">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-3.jpg" style="background-image: url(&quot;img/sidebar/tv-3.jpg&quot;);">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-4.jpg" style="background-image: url(&quot;img/sidebar/tv-4.jpg&quot;);">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/player.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> @*footer樣式*@

</body>

